.proposal_banner {
    background-image: url("../../images/proposal-assets/bg-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding: 30% 0 0;
    margin: 74px 0 100px;
    position: relative;
    @media screen and (max-width: 767px) {
        padding-top: 40%;
        margin-bottom: 50px;
        background-size: 150%;
        margin-top: 120px;
    }
    .banner_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        @media screen and (max-width: 767px) {
            text-align: left;
        }
    }
    h1 {
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
        color: #000;
        font-weight: 700;
        margin: 0;
        @media screen and (max-width: 992px) {
            font-size: 35px;
        }
        @media screen and (max-width: 767px) {
            font-size: 25px;
        }
        span {
            color: #E00045;
        }
    }
    p {
        font-family: 'Poppins', sans-serif;
        color: #000;
        font-weight: 500;
        margin: 15px 0 20px 0;
        max-width: 690px;
        font-size: 25px;
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
}

.proposal_blocks_wrap {
    margin-bottom: 100px;
    @media screen and (max-width: 767px) {
        margin-bottom: 50px;
    }
    .col-md-4 {
        padding: 20px 15px;
        @media screen and (max-width: 992px) {
            width: 50%;
            flex: auto;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    .box_wrap {
        padding: 25px 25px 80px 25px;
        box-shadow: 0px 0 10px #e2e2e2;
        border-radius: 24px;
        position: relative;
        text-align: center;
        background-color: #fff;
        transition: 0.3s ease-in-out;
        height: 100%;
        &:hover {
            background-color: #f5f5f5;
            .footer_box button {
                background-color: #541968;
            }
        }
        .box_img {
            width: 80px;
            height: 80px;
            object-fit: contain;
        }
        h3 {
            color: #060640;
            font-weight: 700;
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
            margin: 10px 0;
            @media screen and (max-width: 1150px) {
                font-size: 20px;
            }
        }
        p {
            font-family: 'Poppins', sans-serif;
            color: #828282;
            font-weight: 500;
            margin: 0;
            font-size: 16px;
        }
        .footer_box {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #E00045;
            border-radius: 0 0 10px 10px;
            width: 100%;
            display: flex;
            align-items: center;
            button {
                background-color: #E00045;
                color: #ffffff;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 16px;
                border: 0;
                width: 50%;
                position: relative;
                outline: 0;
                box-shadow: none;
                height: 65px;
                transition: 0.3s ease-in-out;
                @media screen and (max-width: 1150px) {
                    font-size: 14px;
                }
                &:hover {
                    background-color: #E00045;
                }
                &:first-child {
                    padding-left: 50px;
                    border-radius: 0 0 0 10px;
                    border-right: 1px solid #fff;
                    text-align: left;
                    @media screen and (max-width: 1150px) {
                        padding-left: 40px;
                    }
                    @media screen and (max-width: 992px) {
                        text-align: center;
                    }
                    img {
                        left: -12px;
                    }
                }
                &:last-child {
                    padding-right: 50px;
                    border-radius: 0 0 10px 0;
                    border-left: 1px solid #fff;
                    @media screen and (max-width: 1150px) {
                        padding-right: 40px;
                    }
                    img {
                        right: 10px;
                        bottom: -7px;
                    }
                }
                img {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    bottom: 0;
                    object-fit: contain;
                    @media screen and (max-width: 1150px) {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.proposal_popup {
    .modal-dialog {
        max-width: 900px;
        padding: 0 15px;
        @media screen and (max-width: 767px) {
            padding: 0;
        }
    }
    .modal-header,
    .modal-body {
        padding: 0;
        border: 0;
    }
    .modal-content {
        padding: 50px 100px;
        border-radius: 50px;
        @media screen and (max-width: 767px) {
            padding: 50px 15px;
            border-radius: 30px;
        }
    }
    button.btn-close {
        position: absolute;
        top: 30px;
        box-shadow: none;
        right: 30px;
    }
    h5 {
        font-weight: 700;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        margin: 0 0 40px 0;
        color: #000;
        text-align: center;
        width: 100%;
        @media screen and (max-width: 767px) {
            font-size: 20px;
            margin: 0 0 20px 0;
        }
        span {
            color: #E00045;
            display: block;
        }
    }
    p {
        font-size: 13px;
        margin: 20px 0 40px;
        font-family: 'Poppins', sans-serif;
    }
    button.btn.btn-primary {
        background: #E00045;
        border: 0;
        padding: 12px 25px;
        width: fit-content;
        margin: 0 auto;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
        box-shadow: none;
        &:hover {
            background-color: #541968;
        }
    }
    .col-md-6 {
        padding: 15px;
    }
    input,
    select.form-select,
    textarea {
        border: 1px solid #ccc;
        padding: 9px 15px;
        width: 100%;
        margin: 0;
        height: 45px;
        border-radius: 0;
        outline: 0;
        box-shadow: none;
        font-size: 16px;
        &::placeholder {
            color: #707070 !important;
        }
    }
    .main_ty_pop {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);
        background-color: hsla(0, 0%, 100%, .4);
        .thankyou_pop {
            position: relative;
            width: 90%;
            height: auto;
            background-color: #ffffff;
            background-image: url(../../images/proposal-assets/bg-2.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 350px;
            padding: 180px 50px 30px;
            box-shadow: 0 0px 20px #d8d8d8;
            border-radius: 40px;
            @media screen and (max-width: 767px) {
                padding: 180px 15px 30px;
                border-radius: 30px;
            }
            h5 {
                span {
                    color: #fdec07;
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                }
            }
            p {
                font-size: 16px;
                text-align: center;
                max-width: 500px;
                margin: 0px auto;
            }
            .bottom_dots {
                position: absolute;
                bottom: 4%;
                left: 4%;
                width: 40px;
                object-fit: contain;
                transform: rotate(160deg);
                @media screen and (max-width: 767px) {
                    top: 7%;
                    width: 50px;
                }
            }
        }
    }
    .closed_ty_box {
        display: none;
    }
}

.proposal_popup.enquiry_popup {
    .modal-header {
        display: block;
        h5 {
            margin-bottom: 0;
        }
        p {
            font-size: 16px;
            margin: 0px auto 40px;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            max-width: 500px;
            font-weight: 600;
            span {
                color: #E00045;
            }
        }
    }
    textarea {
        height: 150px;
        resize: none;
    }
    .m_normal {
        margin: 0;
    }
    .col-md-12 {
        padding: 15px;
    }
}

.page_bottom {
    width: 100%;
    margin-bottom: -30px;
    @media screen and (max-width: 992px) {
        margin: 0;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
    img {
        width: 100%;
        object-fit: contain;
        transform: scale(1.01);
    }
}